*{
  margin:0px;
  padding: 0px;
}
.wrapper{
   padding: 20px;
  background-color: #eee;
  border: 1px solid #999;
  overflow: auto;
}
.main{
  float: left;
  width: 100%;
}
.content{
   margin:0px 142px 0px 222px ;
  border: 1px solid #999;
  background-color: white;
  height: 100%;
  padding: 20px;
}
.left{
  float: left;
  width: 160px;
  background-color: #eee;
  border: 1px solid #999;
  padding: 20px;
  margin-left: -100%;
}
.left span{
  width: 80px;
  margin:0px;
  padding: 0px;
}
.right{
  float: left;
  width: 120px;
  background-color: #eee;
  border: 1px solid #999;
  margin-left: -122px;
}
ul>li{
  list-style-type:none;
  margin: 20px;
}
ul,li{
  margin:0px;
  padding: 0px;
}